.flex-fill {
  flex: 1;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

html {
  margin: 0;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
small,
form,
button,
label {
  font-family: "Poppins", sans-serif;
}
